[user]
  name = Dane Lipscombe
[color]
  ui = auto
[alias]
  st = status
  ci = commit
  cia = commit -av
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  lg = log -p
  who = shortlog -s --

  amend = commit --amend
  aa = add --all
  head = !git l -1
  h = !git head
  r = !git l -20
  ra = !git r --all
  ff = merge --ff-only
  pullff = pull --ff-only
  l = log --graph --abbrev-commit --date=relative 
  la = !git l --all
  div = divergence
  gn = goodness
  gnc = goodness --cached
  fa = fetch --all
  pom = push origin master
  d = difftool
  dangle = !git fsck --lost-found | grep commit | cut -d\" \" -f3 | xargs -L1 git log -n1
[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[difftool]
  prompt = false
[include]
  path = .gitconfig.extra
