"*":
  "exception-reporting":
    userId: "65ead1e5-ea6f-4f70-029f-b02d020ee67c"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "solarized-light-ui"
      "solarized-light-syntax"
    ]
    disabledPackages: [
      "emmet"
      "color-picker"
    ]
  editor:
    invisibles: {}
  "markdown-preview": {}
  autosave:
    enabled: true
  "markdown-writer": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  "atom-fuzzy-grep":
    grepCommandString: "ack -i --nocolor --nogroup --column"
