"*":
  "exception-reporting":
    userId: "65ead1e5-ea6f-4f70-029f-b02d020ee67c"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    invisibles: {}
  "markdown-preview":
    breakOnSingleNewline: true
