"*":
  "exception-reporting":
    userId: "65ead1e5-ea6f-4f70-029f-b02d020ee67c"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "emmet"
      "color-picker"
      "minimap"
      "minimap-highlight-selected"
    ]
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    invisibles: {}
    fontSize: 16
    tabType: "soft"
    showInvisibles: true
  "markdown-preview": {}
  autosave:
    enabled: true
  "markdown-writer": {}
  "autocomplete-plus":
    minimumWordLength: 2
    confirmCompletion: "tab"
  "atom-fuzzy-grep":
    grepCommandString: "ack -i --nocolor --nogroup --column"
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "php-cs-fixer":
    executeOnSave: true
    showInfoNotifications: true
    executablePath: "/home/dane/.composer/vendor/bin/php-cs-fixer"
  "terminal-plus":
    core: {}
    style:
      animationSpeed: 0
  minimap:
    plugins:
      "highlight-selected": true
  "imdone-atom": {}
".html.php.text":
  editor:
    tabLength: 4
