"*":
  "atom-fuzzy-grep":
    grepCommandString: "ack -i --nocolor --nogroup --column"
  "autocomplete-plus":
    confirmCompletion: "tab"
    minimumWordLength: 2
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "emmet"
      "color-picker"
      "minimap"
      "minimap-highlight-selected"
      "linter-php"
    ]
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "65ead1e5-ea6f-4f70-029f-b02d020ee67c"
  "imdone-atom": {}
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer": {}
  minimap:
    plugins:
      "highlight-selected": true
  navigate: {}
  nvatom:
    directory: "C:\\Users\\danel\\Dropbox\\Notes"
  "php-cs-fixer":
    executablePath: "/home/dane/.composer/vendor/bin/php-cs-fixer"
    executeOnSave: true
    showInfoNotifications: true
  "terminal-plus":
    core: {}
    style:
      animationSpeed: 0
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
